.main {
    margin-top: 100px;
}

.col {
    width: 50%;
}

.datos-usuario, .pedidos {
    border: 1px solid black;
    border-radius: 20px;
}



.campo {
    margin-top: 40px;
}

.sinborde {
    border: 0;
    outline: none;
    width: 200px;
    background: none;
}

.checkbox {
    width: 50%;
    margin-left: 25%;

    & a {
        text-decoration: none;
    }
}

.linea {
    width: 220px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recuperar-contraseña {
    margin-top: 20px;

    & a {
        text-decoration: none;
    }
}

.myButton {
    box-shadow: 9px 10px 15px -4px rgba(143, 127, 143, 0.25);
    background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    background-color: #2e466e;
    border-radius: 17px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    margin-top: 20px;
    margin-bottom: 20px;
}

.myButton:hover {
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);

    background-color: #415989;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.pedidos {
    list-style: none;
    padding-left: 0;
}
.pedidos li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.eliminar {
    box-shadow: 9px 10px 15px -4px rgba(143, 127, 143, 0.25);
    background: linear-gradient(to bottom, #ff6f6f 5%, #cc4b4b 100%);
    background-color: #cc4b4b;
    border-radius: 17px;
    border: 1px solid #993333;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 30px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #660000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.eliminar:hover {
    background: linear-gradient(to bottom, #cc4b4b 5%, #ff6f6f 100%);
    background-color: #ff6f6f;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
}
